greeting.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.app.io/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloWorld" targetNamespace="http://ws.app.io/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.app.io/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.app.io/" version="1.0">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntegerUserMap">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="entry" type="tns:IdentifiedUser"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentifiedUser">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="user" type="tns:User"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="greet" type="tns:greet"/>
  <xs:complexType name="greet">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="greetResponse" type="tns:greetResponse"/>
  <xs:complexType name="greetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hello" type="tns:hello"/>
  <xs:complexType name="hello">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="helloResponse" type="tns:helloResponse"/>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addUser" type="tns:addUser"/>
  <xs:complexType name="addUser">
    <xs:sequence>
      <xs:element name="user" type="tns:User"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addUserResponse" type="tns:addUserResponse"/>
  <xs:complexType name="addUserResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getUsers" type="tns:getUsers"/>
  <xs:complexType name="getUsers">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getUsersResponse" type="tns:getUsersResponse"/>
  <xs:complexType name="getUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:IntegerUserMap"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sayHi" type="tns:sayHi"/>
  <xs:complexType name="sayHi">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sayHiResponse" type="tns:sayHiResponse"/>
  <xs:complexType name="sayHiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="greetResponse">
    <wsdl:part element="tns:greetResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHiResponse">
    <wsdl:part element="tns:sayHiResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloResponse">
    <wsdl:part element="tns:helloResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUser">
    <wsdl:part element="tns:addUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part element="tns:getUsers" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="greet">
    <wsdl:part element="tns:greet" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hello">
    <wsdl:part element="tns:hello" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addUserResponse">
    <wsdl:part element="tns:addUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part element="tns:getUsersResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sayHi">
    <wsdl:part element="tns:sayHi" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="HelloWorld">
    <wsdl:operation name="greet">
      <wsdl:input message="tns:greet" name="greet">
    </wsdl:input>
      <wsdl:output message="tns:greetResponse" name="greetResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello">
      <wsdl:input message="tns:hello" name="hello">
    </wsdl:input>
      <wsdl:output message="tns:helloResponse" name="helloResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUser" name="addUser">
    </wsdl:input>
      <wsdl:output message="tns:addUserResponse" name="addUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input message="tns:getUsers" name="getUsers">
    </wsdl:input>
      <wsdl:output message="tns:getUsersResponse" name="getUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <wsdl:input message="tns:sayHi" name="sayHi">
    </wsdl:input>
      <wsdl:output message="tns:sayHiResponse" name="sayHiResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HelloWorldSoapBinding" type="tns:HelloWorld">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="greet">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="greet">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="greetResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hello">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sayHi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sayHi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sayHiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelloWorld">
    <wsdl:port binding="tns:HelloWorldSoapBinding" name="HelloWorldPort">
      <soap:address location="http://localhost:8080/ws/greet?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
